* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*color:;*/
	font-family: "メイリオ", sans-serif;
}

header {
	background-color: #ff9a4b;
	width: 100%;
	height: 50px;
}

main {
	width: 960px;
	/*margin: 0 auto;*/
}

.box {
	width: 300px;
	margin: 50px 0px;
	background-color: #EEE;
	display: inline-block;
}

.box:nth-child(2) {
	margin: 50px 30px;
}

.step {
	color: #fff;
	background-color: #ff9a4b;
	padding: 0;
	float:left;
}


footer {
	width: 100%;
	height: 50px;
	background-color: #aaa;
}

main .img {
	width: 280px;
	height: 150px;
	margin: 10px 10px;
}

h3 {
	padding-left: 10px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.bsh {
	padding: 10px;
}

.img1 {
	background-size: cover;
	background-position: center;
	background-image: url(img/flow01.png);
}

.img2 {
	background-size: cover;
	background-position: center;
	background-image: url(img/flow02.png);
}

.img3 {
	background-size: cover;
	background-position: center;
	background-image: url(img/flow03.png);
}

/*↓Responsive*/

@media screen and (max-width:768px) {
	.box {
		width: 90%;
	}

	main {
		width: 100%;
		margin: 40px 0;
	}

	main .img {
		height: 150px;
		margin: 10px auto;
	}

	.box, .box:nth-child(2) {
		margin: 10px 5%;
	}
}
